body{
    margin: auto;
    width: 50%;
    background-color: #003459;
}

#calculator{
    display: flex;
    width: 400px;
    height: 600px;
    flex-flow: column wrap;
    margin: auto;
    margin-top: 100px;
    border: thin;
    box-shadow: 5px 5px 10px;
}

#screen {
    height: 200px;
    width: auto;
    background-color: white;
    font-size: 32px;
    text-align: right;
    color: #00171F;
}

#buttonpad {
    display: flex;
    height: 400px;
    width: 400px;
    flex-flow: column wrap;
    background-color: #00A7E1;
    font-size: 32px;
    text-align: center;
}

#non-specials {
    display: flex;
    flex-flow: row wrap;
}

#specials {
    display: flex;
    height: 80px;
    width: 400px;
}

.special {
    width: 100px;
}

#numpad {
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 80px);
}

#functions {
    display: grid;
    grid-template-columns: 100px;
}
